<table class="mt-3">
    <tr>
        <th>Codigo</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Borrar</th>
        <th>Seleccionar</th>
    </tr>
    @for (item of articles; track $index) {
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.description}}</td>
            <td>{{item.price}}</td>
            <td>
                <button type="submit" class="btn btn-danger" (click)="deleteArticle(item.id)">Borrar</button>
            </td>
            <td>
                <button type="submit" class="btn btn-success" (click)="selectArticle(item)">Seleccionar</button>
            </td>
        </tr>
    }
</table>
